name: Dependency Scanning  
  
on:  
  pull_request:  
    branches: [ main ]  
  push:  
    branches: [ main ]  
  
permissions:  
  contents: read  
  issues: write  
  pull-requests: write  
  
jobs:  
  scan:  
    runs-on: ubuntu-latest  
    steps:  
      - uses: actions/checkout@v4  
        
      - name: Scan Dependencies  
        uses: safedep/vet-action@399423293e37eb2fadc50a867f06113ebe254808
        with:
          exception-file: .github/excep.yml
        env:  
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
